* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Recursive", sans-serif;
}

header nav div a:hover {
  background-color: rgb(183, 203, 232);
  border: 1px solid rgb(183, 203, 232);
  border-radius: 15px;
  align-items: flex-end;
  outline: none;
}

header {
  border: 1px solid rgb(74, 73, 73);
  width: 100%;
}

header nav .logo:hover {
  background-color: rgb(183, 203, 232);
  border: 1px solid rgb(183, 203, 232);
  border-radius: 15px;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
}

header nav a:hover {
  background-color: rgb(183, 203, 232);
  border: 1px solid rgb(183, 203, 232);
  border-radius: 15px;
  outline: none;
}

nav {
  display: flex;
  padding: 15px;
}

header nav div a {
  text-decoration: none;
}

.logo {
  color: rgb(49, 104, 186);
  justify-content: start;
  padding: 0 300px 0 0;
}

.functions {
  color: rgb(63, 61, 61);
  padding: 0 400px 0 100px;
  word-spacing: 5px;
  text-decoration: none;
}

.login {
  color: rgb(49, 104, 186);
  text-decoration: none;
}

.main a span:hover {
  background-color: rgb(183, 203, 232);
}

.main {
  background-image: url(istockphoto-1028869800-612x612.jpg);
  text-align: center;
  height: 500px;
  background-repeat: none;
  background-size: cover;
  width: 100%;
}

.main button:hover {
  background-color: rgb(183, 203, 232);
}

h1 {
  padding: 100px 0px 20px 0;
}

span {
  color: white;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 7px;
  background-color: rgb(49, 104, 186);
}

p {
  justify-content: baseline;
  text-transform: lowercase;
  color: rgb(63, 61, 61);
}

.btn {
  background-color: rgb(49, 104, 186);
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
}

.part-1 {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-inline: 7rem;
  gap: 4rem;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3rem;
}

.data button {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  width: -moz-fit-content;
  width: fit-content;
}

.part-2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-inline: 7rem;
  gap: 4rem;
}

.part-3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-around;
  margin-inline: 7rem;
  gap: 4rem;
}

.part-4 {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-inline: 7rem;
  gap: 4rem;
}

button {
  background-color: rgb(49, 104, 186);
  color: white;
}

footer {
  background-color: rgb(49, 104, 186);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

footer h3 {
  color: white;
}

footer p {
  color: white;
}

.input-search {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
}

.input-search input {
  width: 100%;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0.3rem 1rem;
}

.input-search button {
  position: absolute;
  cursor: pointer;
  top: 2px;
  bottom: 2px;
  right: 2px;
  border-radius: 1rem;
  border: none;
  outline: none;
  padding: 0 3rem;
}/*# sourceMappingURL=style.css.map */